<main class="flex-grow-1" style="background-color:#ECE9F2">
    <div class="container d-flex justify-content-center h-75 align-items-center">
        <div class="col-md-5 card p-3">
            <div class="text-center">
                <h3>Изменение пароля</h3>
            </div>
            <form th:action="@{/change-password}" method="post">
                <div>
                    <p class="text-danger" th:text="${invalidOldPasswordException}"></p>

<!--                    <input type="hidden" name="username" th:value="${#request.userPrincipal.name}">-->

                    <div class="form-outline mb-4">
                        <input type="password" id="oldPassword" class="form-control" name="oldPassword"
                               placeholder="Введите старый пароль" required/>
                        <label class="form-label" for="oldPassword">Ваш старый пароль:</label>
                    </div>

                    <p class="text-danger" th:text="${invalidNewPasswordException}"></p>

                    <div class="form-outline mb-4">
                        <input type="password" id="newPassword" class="form-control" name="newPassword"
                               placeholder="Введите новый пароль" required/>
                        <label class="form-label" for="newPassword">Ваш новый пароль:</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Сменить пароль</button>
            </form>
        </div>
    </div>
</main>