<!DOCTYPE html>
<html>
<head>
    <style>
        .notification {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f2f2f2;
        }

        .notification-box {
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="notification">
    <div class="notification-box">
        <div class="text-center">
            <h1>Пароль успешно изменен</h1>
            <h1>Для обновления данных необходимо перезайти в аккаунт</h1>
            <form class="dropdown-item active" th:action="@{/auth/logout}" method="post"
                  style="width: 100%; ">
                <button type="submit" style="background-color: transparent; color: black; border: 1px solid red; padding: 5px;">
                   Перезайти
                </button>
            </form>
        </div>
    </div>
</div>

</body>
</html>
