<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" href="/icon/favicon.ico"/>
</head>
<body>
<div th:block th:insert="~{elements/navbar.html}"></div>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">Главная</a></li>
        <li class="breadcrumb-item">
            <a th:href="@{'/user/profile/'+ ${#authentication.principal.user.id}}"
               th:text="Профиль">Профиль</a></li>

        <li class="breadcrumb-item active" aria-current="page">
            <span th:text="ChangePassword"></span>
        </li>
    </ol>
</nav>
<br>
<br>
<main class="flex-grow-1" style="background-color:#ECE9F2">
    <div class="container d-flex justify-content-center h-75 align-items-center">
        <div class="col-md-5 card p-3">
            <div class="text-center">
                <h3>Изменение пароля</h3>
            </div>

            <form th:action="@{/change-password}" method="post">
                <div>
                    <p class="text-danger" th:text="${invalidOldPasswordException}"></p>
                    <div class="form-outline mb-4">
                        <input type="password" id="oldPassword" class="form-control" name="oldPassword"
                               placeholder="Введите старый пароль" required/>
                    </div>
                    <p class="text-danger" th:text="${invalidNewPasswordException}"></p>
                    <li th:each="error : ${errors}" th:text="${error.defaultMessage}" style="color: red;"></li>
                    <div class="form-outline mb-4">
                        <div class="input-group">
                            <input type="password" id="newPassword" class="form-control" name="newPassword"
                                   placeholder="Введите новый пароль" required/>
                        </div>
                        <input type="checkbox" id="showPasswordToggle">
                        <label for="showPasswordToggle" id="showPasswordLabel" th:size="10">Показать пароль</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Сменить пароль</button>
                </div>
            </form>
        </div>
    </div>
</main>
<div th:block th:insert="~{elements/waves.html}"></div>
<div th:block th:insert="~{elements/footer.html}"></div>
<script>
    // Пароль
    const showPasswordToggle = document.getElementById('showPasswordToggle');
    const passwordInput = document.getElementById('oldPassword');
    const verifyPasswordInput = document.getElementById('newPassword');

    const showPasswordLabel = document.getElementById('showPasswordLabel');

    showPasswordToggle.addEventListener('change', function () {
        if (showPasswordToggle.checked) {
            passwordInput.type = 'text';
            verifyPasswordInput.type = 'text';
            showPasswordLabel.innerHTML = 'Скрыть пароль';
        } else {
            passwordInput.type = 'password';
            verifyPasswordInput.type = 'password';
            showPasswordLabel.innerHTML = 'Показать пароль';
        }
    });
</script>

</body>
</html>