<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Страница регистрации</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
<!--    <div th:block th:insert="~{/elements/bootstrap-basic.html}"></div>-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/navbar.css">

    <!-- Подключение JavaScript-файлов -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

</head>

<body>
<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-lg-auto">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-right">Registration panel</h3>
                    <h4 class="card-subtitle mb-4 text-center">Для регистрации заполните следующую информацию:</h4>
                    <form id="registrationForm" th:method="post" th:action="@{/auth/registration}" th:object="${user}">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="birthday">Birthday date (вам должно быть больше 14 лет):</label>
                                <input type="date" th:field="*{birthday}" class="form-control" id="birthday"
                                       placeholder="Введите дату рождения" required>
                                <span th:if="${#fields.hasErrors('birthday')}" style="color:red"
                                      th:errors="*{birthday}"></span>
                            </div>
                            <label for="email" class="form-label">Введите Email</label>
                            <input id="email" type="email" class="form-control" placeholder="some@some.com" name="email"
                                   th:field="*{email}" required>
                            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email
                                Error
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Введите Username</label>
                            <input id="username" type="text" class="form-control" placeholder="Enter username"
                                   autocomplete="off" name="username" th:field="*{username}" required>
                            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                Username Error
                            </div>
                        </div>
                        <div class="mb-3 password-input-wrapper">
                            <label for="password" class="form-label">Введите Password</label>
                            <div class="password-input-container">
                                <input id="password" type="password" class="form-control" name="password"
                                       autocomplete="off"
                                       th:field="*{password}" required>
                                <input type="checkbox" id="showPasswordToggle">
                                <label for="showPasswordToggle" id="showPasswordLabel">
                                    <i class="fa fa-eye"></i>
                                </label>
                            </div>
                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Password Error
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="verifyPassword" class="form-label">Повторите Password</label>
                            <input id="verifyPassword" type="password" class="form-control" required
                                   name="verifyPassword" autocomplete="off">
                        </div>


                        <div><p>
                            <input type="checkbox" required>
                            С <a href="#" id="openModalLink">пользовательским соглашением</a> ознакомился и
                            согласен
                        </p>
                        </div>

                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div id="modalContentPlaceholder"></div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button id="regFormSignUpBtn" type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                    <p class="text-center mt-4">Already have an account? <a th:href="@{/auth/login}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Всплывающее окно успешной регистрации -->
<div id="notificationModal" class="modal fade" th:if="${successRegistration}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Уведомление об успешной регистрации</h5>
            </div>
            <div class="modal-body">
                <p>Вы успешно зарегистрированы!</p>
                <p>Остался последний шаг: посетить ваш почтовый ящик и перейти по ссылке для активации аккаунта</p>
                <p>Перейти на страницу входа: <a href="/auth/login">Войти</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Всплывающее окно неуспешной регистрации -->
<div id="errorNotificationModal" class="modal fade" th:if="${errorRegistration}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Уведомление об неуспешной регистрации</h5>
            </div>
            <div class="modal-body">
                <p>Регистрация не удалась. Пожалуйста, проверьте введенные данные и попробуйте снова.</p>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Показать модальное окно успешной регистрации
        $('#notificationModal').modal('show');

        // Показать модальное окно неуспешной регистрации
        $('#errorNotificationModal').modal('show');
    });
</script>

<script>
    // Получаем ссылку и модальное окно
    var openModalLink = document.getElementById("openModalLink");
    var modal = document.getElementById("myModal");
    var modalContentPlaceholder = document.getElementById("modalContentPlaceholder");

    // Получаем элемент для закрытия модального окна
    var closeBtn = document.getElementsByClassName("close")[0];

    // Обработчик события при клике на ссылку
    openModalLink.onclick = function () {
        // Загрузка содержимого сообщения из файла message.html
        fetch("/user-agreement")
            .then(response => response.text())
            .then(data => {
                modalContentPlaceholder.innerHTML = data;
                modal.style.display = "block";
            });
    }
    // Обработчик события при клике на кнопку закрытия
    closeBtn.onclick = function () {
        modal.style.display = "none";
    }
</script>

<script>
    // Пароль
    const showPasswordToggle = document.getElementById('showPasswordToggle');
    const passwordInput = document.getElementById('password');
    const verifyPasswordInput = document.getElementById('verifyPassword');

    const showPasswordLabel = document.getElementById('showPasswordLabel');

    showPasswordToggle.addEventListener('change', function () {
        if (showPasswordToggle.checked) {
            passwordInput.type = 'text';
            verifyPasswordInput.type = 'text';
            showPasswordLabel.innerHTML = '<i class="fa fa-eye"></i>';
        } else {
            passwordInput.type = 'password';
            verifyPasswordInput.type = 'password';
            showPasswordLabel.innerHTML = '<i class="fa fa-eye-slash"></i>';
        }
    });
</script>
</body>
</html>
