<!DOCTYPE html>
<html>
<head>

</head>
<body>
<div class="message-content">
    <h3 class="message-title">Отказ от ответственности</h3>
    <p class="message-text">
        Продолжая использовать данное веб-приложение вы соглашаетесь с нижеследующими пунктами и безоговорочно принимаете их как данность:
    </p>
    <ol class="message-list">
        <li class="message-item">Продукты: Все товары на данном сайте являются вымышленными.
            Пожалуйста, помните, что они не могут быть приобретены через данный магазин в реальности.
        </li>
        <li class="message-item">Симуляция покупок: В нашем магазине вы можете добавлять товары в
            виртуальную корзину и прочие всякие такие штуки. Однако, это всего лишь симуляция, и никаких реальных
            операций не происходит.
        </li>
        <li class="message-item">Ответственность: Мы не несем ответственности за возможные
            воображаемые потери, связанные с использованием магазина. Пожалуйста, помните, что все происходящее
            является вымышленным.
        </li>
        <li class="message-item">Учебные цели: Магазин создан исключительно для обучения и демонстрации работы
            веб-приложения.
        </li>
    </ol>
    <p class="message-text">Наслаждайтесь</p>
</div>
</body>
</html>