<header>
    <ul xmlns:sec="http://www.w3.org/1999/xhtml">
        <li>
            <a class="active" th:href="@{/home}"><i class="fa fa-lg fa-fw fa-home"></i> Главная</a>
        </li>
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit" style="float:right;" id="logout">
                <i class="fa fa-lg fa-fw fa-sign-in"></i> Выйти
            </button>
        </form>

        <li style="float:right">
            <a th:href="@{/cart}">
                <i class="fa fa-lg fa-fw fa-shopping-basket"></i> Корзина
            </a>
        </li>
        <li style="float:right">
            <a th:href="@{'/user/profile/' + ${#authentication.principal.user.id}}">
                <i class="fa fa-lg fa-fw fa-user-circle-o"></i> Ваш профиль,
                <span th:remove="tag" sec:authentication="principal.username">thymeleaf</span>
            </a>
        </li>
        <li style="float:none ">
            <div class="search-container">
                <input type="text" id="search-input" class="animated-search" placeholder="Введите название продукта"
                       onkeydown="handleKeyPress(event)">
                <button id="search-button">Найти</button>
            </div>
        </li>
    </ul>
    <div id="search-results-container"></div>

    <!--Поиск-->
    <script>
        $(document).ready(function () {
            $("#search-button").click(function () {
                var query = $("#search-input").val();
                $.get("/product/search?query=" + query, function (data) {
                    $("#search-results-container").html(data);
                });
            });
        });
    </script>

    <!--Enter-->
    <script>
        document.getElementById("search-input").addEventListener("keydown", function (event) {
            if (event.key === "Enter") {
                event.preventDefault();
                document.getElementById("search-button").click();
            }
        });
    </script>

</header>