<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<link rel="stylesheet" href="/css/navbar.css">
<script src="/js/navbar.js"></script>
<div th:block th:insert="~{elements/bootstrap.html}"></div>
<link rel="icon" type="image/x-icon" href="/icon/favicon.ico"/>


<style>
    .owl {
        background-image: url("images/parts/rPink.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        height: 150px;
        width: 150px;
        position: fixed;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        z-index: 1;
    }
</style>
<header>
    <nav class="navbar">
        <div class="owl"></div>
        <div class="container navbar-expand">
            <div class="navbar-header navbar-brand">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a th:href="@{/home}"><span class="logo">
    <img src="/images/parts/logo-owl.png" alt="O">WLstore</span> </a>
                <div class="navbar navbar-white bg-white">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 animated-search" type="search" placeholder="Поиск"
                               id="search-input" onkeydown="handleKeyPress(event)"
                               aria-label="Поиск">
                        <button class="btn-15" id="search-button" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div style="text-align: right;">
                <a href="tel:+375447764751" style="display: block;">
                    <i class="fa fa-lg fa-mobile" aria-hidden="true"></i> +375 (44) 776-46-51
                </a>
                <a href="mailto:testowllogin@yandex.ru" style="display: block;">
                    <i class="fa fa-lg fa-envelope-o" aria-hidden="true"></i> testowllogin@yandex.ru
                </a>
            </div>

            <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">


                    <li><a th:href="@{/home}"> <i class="fa fa-2x fa-home" aria-hidden="true"></i> Home</a></li>

                    <li><a th:href="@{/about-us}"><i class="fa fa-2x fa-address-card-o" aria-hidden="true"></i> About us</a>
                    </li>


                    <li><a href="/contacts"><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i> Contact us</a>
                    </li>
                    <th:block sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/auth/login}" style="color: lawngreen" class="fa-sign-in"> <i
                                class="fa fa-sign-in" aria-hidden="true"></i>Sign in</a></li>
                    </th:block>
                    <li><a th:href="@{/cart}"><i class="fa fa-2x fa-fw fa-shopping-basket"></i> Cart</a></li>

                    <th:block sec:authorize="hasRole('ADMIN')">
                        <li><a href="/admin"><i class="fa fa-3x fa-lock" aria-hidden="true" style="color: red"></i>
                            AdminPanel</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="navbar-dropdown">
                            <a class="dropdown-toggler" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div style="display: flex; flex-direction: column;">
                                    <span>Welcome,</span>
                                    <span> <i class="fa fa-user-o" aria-hidden="true"></i>
            <span th:remove="tag" sec:authentication="principal.username">thymeleaf</span>  <i
                                                class="fa fa-angle-down"></i>
        </span></div>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                   th:href="@{'/user/profile/' + ${#authentication.principal.user.id}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> Profile</a>

                                <a class="dropdown-item" th:href="@{/change-password}"><i class="fa fa-key"
                                                                                          aria-hidden="true"></i>Изменить пароль</a>
                                <hr class="dropdown-divider">
                                <form class="dropdown-item active" th:action="@{/auth/logout}" method="post"
                                      style="width: 100%; ">
                                    <button type="submit"
                                            style="border: none; background: none; padding: 0; color: inherit; text-align: left; width: 100%;">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
                                    </button>
                                </form>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div id="search-results-container"></div>
    </nav>

    <!--Поиск-->
    <script>
        $(document).ready(function () {
            $("#search-button").click(function (event) {
                event.preventDefault(); // Предотвращает перезагрузку страницы

                var query = $("#search-input").val();
                $.get("/product/search?query=" + query, function (data) {
                    $("#search-results-container").html(data);
                });
            });
        });
    </script>
</header>