<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Подключение CSS-файлов -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/navbar.css">

<!-- Подключение JavaScript-файлов -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/js/navbar.js"></script>
<style>
    .owl {
        background-image: url("images/parts/rPink.png");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: cover;
        height: 150px;
        width: 150px;
        position: fixed;
        bottom: 0px;
        right: 0px;
        margin-bottom: 0px;
        z-index: 1; /* Добавляем отрицательное значение z-index */
    }
</style>
<header>
    <nav class="navbar">
        <div class="owl"></div>
        <div class="container navbar-expand">
            <div class="navbar-header navbar-brand">
                <button class="navbar-toggler" data-toggle="collapse" data-target="#open-navbar1">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <a th:href="@{/home}"><span class="logo">
    <img src="/images/parts/logo-owl.png" alt="O">WLstore</span> </a>
                <div class="navbar navbar-white bg-white">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2 animated-search" type="search" placeholder="Поиск"
                               id="search-input" onkeydown="handleKeyPress(event)"
                               aria-label="Поиск">
                        <button class="btn-15" id="search-button" type="submit">Search</button>
                    </form>
                </div>
            </div>
            <a href="tel:+375447764751"> <i class="fa fa-lg fa-mobile" aria-hidden="true"></i> +375 (44)
                776-46-51</a>

            <div class="navbar-menu" id="open-navbar1">
                <ul class="navbar-nav">


                    <li><a th:href="@{/home}"> <i class="fa fa-2x fa-home" aria-hidden="true"></i> Home</a></li>

                    <li><a th:href="@{/about-us}"><i class="fa fa-2x fa-address-card-o" aria-hidden="true"></i> About us</a></li>


                    <li><a href="/contacts"><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
                    <th:block sec:authorize="!isAuthenticated()">
                        <li><a th:href="@{/auth/login}" style="color: lawngreen" class="fa-sign-in"> <i
                                class="fa fa-sign-in" aria-hidden="true"></i>Sign in</a></li>
                    </th:block>
                    <li><a th:href="@{/cart}"><i class="fa fa-2x fa-fw fa-shopping-basket"></i> Cart</a></li>

                    <th:block sec:authorize="hasRole('ADMIN')">
                        <li><a href="/admin"><i class="fa fa-3x fa-lock" aria-hidden="true" style="color: red"></i>
                            AdminPanel</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="navbar-dropdown">
                            <a class="dropdown-toggler" href="#" id="navbarDropdownMenuLink" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div style="display: flex; flex-direction: column;">
                                    <span>Welcome,</span>
                                    <span> <i class="fa fa-user-o" aria-hidden="true"></i>
            <span th:remove="tag" sec:authentication="principal.username">thymeleaf</span>  <i
                                                class="fa fa-angle-down"></i>
        </span></div>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item"
                                   th:href="@{'/user/profile/' + ${#authentication.principal.user.id}}">
                                    <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
                                <a class="dropdown-item" href="#">Что-то еще здесь</a>
                                <hr class="dropdown-divider">
                                <form class="dropdown-item active" th:action="@{/auth/logout}" method="post"
                                      style="width: 100%; ">
                                    <button type="submit"
                                            style="border: none; background: none; padding: 0; color: inherit; text-align: left; width: 100%;">
                                        <i class="fa fa-sign-out" aria-hidden="true"></i> Выйти
                                    </button>
                                </form>
                            </div>
                        </li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div id="search-results-container"></div>
    </nav>


    <!--Поиск-->
    <script>
        function handleKeyPress(event) {
            console.log('Функция handleKeyPress() вызвана');

            if (event.key === "Enter") {
                console.log('Нажата клавиша Enter');

                event.preventDefault();
                var query = $("#search-input").val();
                console.log('Значение введенного запроса:', query);

                // Дополнительная логика по обработке поискового запроса

                console.log('Обработка поискового запроса выполнена');
            }
        }

        $(document).ready(function () {
            $("#search-button").click(function (event) {
                event.preventDefault(); // Предотвращает перезагрузку страницы
                var query = $("#search-input").val();
                console.log("Search button clicked"); // Отладочное сообщение
                $.get("/product/search?query=" + query, function (data) {
                    $("#search-results-container").html(data);
                });
            });
        });

    </script>
</header>