<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>exception</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:block th:insert="~{elements/navbar.html}"></div>
<p class="center-text">There was an unexpected exception.</p>
<div class="text-center">
    <img class="card-img-top w-50" th:src="@{/images/error/error.jpg}" alt="error">
</div>
<p th:text="${message}" class="center-text" style="color: red"></p>
</body>
</html>