.mx-auto d-block {
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;


}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
    text-decoration: none;
    color: #c7f30d;
}

.active {
    background-color: #366cb2;
}

/*____корзина____________*/

.center-text {
    text-align: center;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container {
    height: 300px; /* Высота контейнера изображения */
    overflow: hidden; /* Скрытие лишней части изображения */
}


/*ПОисковая строка*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


#search-button {
    padding: 15px 18px;
    background-color: #366cb2;
    border: none;
    /*border-radius: 5px;*/
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

#search-button:hover {
    background-color: #000;
    text-decoration: none;
    color: #c7f30d;
}

.animated-search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 2px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.animated-search:focus {
    width: 100%;
}

/*_popup_*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*Пагинация*/
.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    /*border: 1px solid #ccc;*/
    color: #ccc;
    /*color: #c7f30d;*/
}

.pagination li.active a {
    background-color: #366cb2;
    color: white;

}

.pagination li a:hover {
    background-color: #000;
    text-decoration: none;
    color: #c7f30d;
}

#logout {
    padding: 14px 16px;
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#logout:hover {
    background-color: #000;
    text-decoration: none;
    color: #c7f30d;
}
