.buttonAddProduct {
    background-color: #366cb2;
    border: 0;
    color: white;
    padding: 14px 18px;
    font-size: 14px;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

.buttonAddProduct:hover {
    background-color: #5881c4;
}

.mx-auto d-block {
    text-align: center;
    max-width: 250px;
    height: 350px;
}

.buttonDelete {
    background-color: #DC143C;
    border: 0;
    color: white;
    padding: 12px 16px;
    font-size: 13px;
    cursor: pointer;
}

.buttonDelete:hover {
    background-color: #FF0000;
}

.buttonQuit {
    background-color: #008B8B;
    border: 0;
    color: white;
    padding: 12px 16px;
    font-size: 13px;
    cursor: pointer;
    position: relative;
    margin: 0 auto;
    display: block;
}

.buttonQuit:hover {
    background-color: #20B2AA;
}

.responsive {
    max-width: 100%;
    height: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #000;
    text-decoration: none;
    color: #c7f30d;
}

.active {
    background-color: #366cb2;
}

/*___________________*/

.center-text {
    text-align: center;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container {
    height: 300px; /* Высота контейнера изображения */
    overflow: hidden; /* Скрытие лишней части изображения */
}

.image-container img {
    object-fit: cover; /* Растяжение изображения для заполнения контейнера */
    height: 100%; /* Растягиваем изображение на всю высоту контейнера */
    width: 100%; /* Растягиваем изображение на всю ширину контейнера */
}

