/*@import url(//fonts.googleapis.com/css?family=Lato:300:400);*/

/*.mx-auto d-block {*/
/*    text-align: center;*/
/*}*/

body {
    font-family: Lato, Helvetica, sans-serif;
    background: linear-gradient(180deg, white 0%, white 60%, rgb(69, 78, 183) 90%);
}

/*ul {*/
/*    list-style-type: none;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    background-color: #333;*/


/*}*/

/*li {*/
/*    float: left;*/
/*}*/

/*li a {*/
/*    display: block;*/
/*    color: white;*/
/*    text-align: center;*/
/*    padding: 14px 16px;*/
/*    text-decoration: none;*/
/*}*/

/*li a:hover {*/
/*    background-color: #000;*/
/*    text-decoration: none;*/
/*    color: #c7f30d;*/
/*}*/

/*.active {*/
/*    background-color: #366cb2;*/
/*}*/

/*____корзина____________*/

.center-text {
    text-align: center;
}

.empty-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.image-container {
    height: 300px; /* Высота контейнера изображения */
    overflow: hidden; /* Скрытие лишней части изображения */
}

.center-table {
    margin: 0 auto;
}


/*ПОисковая строка*/
.search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*_popup_*/
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(102, 102, 253, 0.81);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    font-size: 28px;
}

.popup-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/*Пагинация*/
.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
    margin-right: 5px;
}

.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    color: #333;
    opacity: 1; /* Устанавливаем непрозрачность */
    background-color: white;

}

.pagination li.active a {
    background-color: #333;
    color: #fff;
}


/*#logout {*/
/*    padding: 14px 16px;*/
/*    background-color: #333;*/
/*    border: none;*/
/*    color: #fff;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*}*/

/*#logout:hover {*/
/*    background-color: #000;*/
/*    text-decoration: none;*/
/*    color: #c7f30d;*/
/*}*/


/*_waves*/

body {
    /*margin: 0;*/
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
}

p {
    /*font-family: 'Lato', sans-serif;*/
    /*letter-spacing: 1px;*/
    /*font-size: 14px;*/
    /*color: #333333;*/
}

.header {
    position: relative;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
    color: white;
}

/*.logo {*/
/*    width: 50px;*/
/*    fill: white;*/
/*    padding-right: 15px;*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*}*/

.inner-header {
    height: 65vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px; /*Fix for safari gap*/
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }

    .content {
        height: 30vh;
    }

    h1 {
        font-size: 16px;
    }
}

/* Search */
.btn-15 {
    /*background: #b621fe;*/
    border: none;
    z-index: 1;
    font-family: "Roboto", sans-serif;
    font-size: 0.925rem;
    background-color: white;
}
.btn-15:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px rgb(255, 255, 255),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;

}
.btn-15:hover {
    color: #fff;
}
.btn-15:hover:after {
    right: 0;
    width: 100%;
    background-color: rgba(102, 61, 255, 0.4); /* Прозрачность 0.5 */
}
.btn-15:active {
    top: 2px;
}






