<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:block th:insert="~{header.html}"></div>


<h2>Корзина</h2>


<table border="1" align="center">
    <tr>
        <td></td>
        <td>Название</td>
        <td>Количество</td>
        <td>Цена</td>
        <td>Итого</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${cart.cartDetails}">
        <td><a th:href="@{/product/{productId}(productId=${detail.productId})}">
            <img class="card-img-top"
                 th:src="@{/images/{imagePath}(imagePath=${detail.imagePath})}"></a></td>
        <td><a th:href="@{/product/{productId}(productId=${detail.productId})}" th:text="${detail.name}">name</a></td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11.0</td>
        <td th:text="${detail.sum}">22</td>
        <td><a th:href="@{/cart/{id}/delete(id=${detail.productId})}">Удалить</a></td>
    </tr>
   <tr> итого -> <b th:text="${cart.sum}">1000</b> </tr>
</table>


<table class="table table-striped table-hover table-bordered" align="center">
    <thead>
    <tr>
        <th></th>
        <th>Название</th>
        <th>Количество</th>
        <th>Цена</th>
        <th>Итого</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="detail: ${cart.cartDetails}">
        <td><a th:href="@{/product/{productId}(productId=${detail.productId})}">
            <img class="card-img-top img-fluid rounded"
                 th:src="@{/images/{imagePath}(imagePath=${detail.imagePath})}"
                 style="max-width: 100px;"></a></td>
        <td><a th:href="@{/product/{productId}(productId=${detail.productId})}" th:text="${detail.name}">name</a></td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11.0</td>
        <td th:text="${detail.sum}">22</td>
        <td><a th:href="@{/cart/{id}/delete(id=${detail.productId})}" class="btn btn-danger btn-sm">Удалить</a></td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <th>Итого:</th>
        <td colspan="1" class="font-weight-bold" th:text="${cart.sum}"></td>
        <td></td>
    </tr>
    </tbody>
</table>

</body>
</html>
