<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
</head>
<body>
<h2>Корзина</h2>

<div class="container-fluid mb-4" th:each="product : ${cart.getProducts()}">
    <div class="card w-25 m-1" type="product">
        <div class="card-body">
            <h4 class="card-title" th:text="${product.name}"></h4>
            <h4 class="card-title" th:text="${product.getDescription()}"></h4>
            <h4 class="card-title" th:text="${product.getPrice()}"></h4>
        </div>
    </div>
</div>

</body>
</html>
