<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cart</title>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:block th:insert="~{header.html}"></div>


<h2>Корзина</h2>

<h3>All sum -> <b th:text="${cart.sum}">1000</b></h3>

<table border="1" align="center">
    <tr>
        <td>Title</td>
        <td>Amount</td>
        <td>Price</td>
        <td>Sum</td>
        <td></td>
    </tr>
    <tr th:each="detail : ${cart.cartDetails}">
        <td th:text="${detail.name}">Cheese</td>
        <td th:text="${detail.amount}">2</td>
        <td th:text="${detail.price}">11.0</td>
        <td th:text="${detail.sum}">22</td>
        <td><a href="#">Remove</a></td>
    </tr>
</table>



<!--<div class="container-fluid mb-4" th:each="product : ${cart.getProducts()}">-->



<!--    <div class="card w-25 m-1" type="product">-->
<!--        <div class="card-body">-->
<!--            <h4 class="card-title" th:text="${product.name}"></h4>-->
<!--            <h4 class="card-title" th:text="${product.getDescription()}"></h4>-->
<!--            <h4 class="card-title" th:text="${product.getPrice()}"></h4>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>
