<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit user</title>
</head>
<body>
<form action="profile" th:object="${userDto}" method="post">
  <label>Username: </label>
  <input type="text" th:field="*{username}" readonly="readonly" title="Неизменяемое поле"/><br><br>
  <label>Name: </label>
  <input type="text" th:field="*{name}" title="Введите ваше имя"/><br><br>
  <label>Surname: </label>
  <input type="text" th:field="*{surname}" title="Введите вашу фамилию"/><br><br>
  <label>Birthday: </label>
  <input type="text" th:field="*{birthday}" title="Введите год рождения"/><br><br>
  <label>Gender: </label>
  <input type="radio" th:field="*{gender}" value="male"/> Male
  <input type="radio" th:field="*{gender}" value="female"/> Female
  <input type="radio" th:field="*{gender}" value="non-binary"/> Non-binary<br><br>
  <label>Email: </label>
  <input type="text" th:field="*{email}"/><br><br>
  <input type="hidden" th:field="*{id}"/>
  <input type="submit" value="Изменить">
</form>
</body>
</html>