<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <div th:block th:insert="~{bootstrap-basic.html}"></div>
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Edit user</title>
  <style>
      .blue-text {
        color: blue;
      }
    </style>
</head>
<body>
<div th:block th:insert="~{header.html}"></div>
<div class="container">
  <h1>Редактирование данных пользователя</h1>
  <form action="profile" th:object="${userDto}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" th:field="*{username}" readonly="readonly" class="form-control" id="username" title="Неизменяемое поле">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" class="form-control blue-text" id="name" placeholder="Введите ваше имя">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" th:field="*{surname}" class="form-control blue-text" id="surname" placeholder="Введите вашу фамилию">
    </div>
    <div class="form-group">
      <label for="birthday">Birthday:</label>
      <input type="text" th:field="*{birthday}" class="form-control blue-text" id="birthday" placeholder="Введите год рождения">
    </div>
    <div class="form-group">
      <label>Gender:</label>
      <div class="form-check">
        <input type="radio" th:field="*{gender}" class="form-check-input" id="male" value="male">
        <label class="form-check-label" for="male">Male</label>
      </div>
      <div class="form-check">
        <input type="radio" th:field="*{gender}" class="form-check-input" id="female" value="female">
        <label class="form-check-label" for="female">Female</label>
      </div>
      <div class="form-check">
        <input type="radio" th:field="*{gender}" class="form-check-input" id="non-binary" value="non-binary">
        <label class="form-check-label" for="non-binary">Non-binary</label>
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="text" th:field="*{email}" class="form-control blue-text" id="email" placeholder="Введите ваш email">
    </div>
    <input type="hidden" th:field="*{id}">
    <button type="submit" class="btn btn-primary">Изменить</button>
  </form>
</div>
</body>
</html>