<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <title>Edit user</title>
    <style>
        .blue-text {
            color: blue;
        }
    </style>
</head>
<body>
<div th:block th:insert="~{header.html}"></div>
<div class="container">
    <h1>Редактирование данных пользователя</h1>
    <form th:action="@{/user/profile}" th:object="${userDto}" th:method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" th:field="*{username}" readonly="readonly" class="form-control" id="username"
                   title="Неизменяемое поле">
        </div>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" class="form-control blue-text" id="name"
                   placeholder="Введите ваше имя">
            <span th:if="${#fields.hasErrors('name')}" style="color:red"
                  th:errors="*{name}"></span>
        </div>
        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" th:field="*{surname}" class="form-control blue-text" id="surname"
                   placeholder="Введите вашу фамилию">
            <span th:if="${#fields.hasErrors('surname')}" style="color:red"
                  th:errors="*{surname}"></span>
        </div>
        <div class="form-group">
            <label>Gender:</label>
            <div class="form-check">
                <input type="radio" th:field="*{gender}" class="form-check-input" id="male" value="male">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
                <input type="radio" th:field="*{gender}" class="form-check-input" id="female" value="female">
                <label class="form-check-label" for="female">Female</label>
            </div>
            <div class="form-check">
                <input type="radio" th:field="*{gender}" class="form-check-input" id="non-binary" value="non-binary">
                <label class="form-check-label" for="non-binary">Non-binary</label>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" th:field="*{email}" class="form-control blue-text" id="email"
                   placeholder="Введите ваш email">
            <span th:if="${#fields.hasErrors('email')}" style="color:red"
                  th:errors="*{email}"></span>
        </div>
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{registrationDate}">
        <input type="hidden" th:field="*{birthday}"/>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </form>
</div>
</body>
</html>