<script>
    $(document).ready(function () {
        $("#search-button").click(function () {
            var query = $("#search-input").val();
            $.get("/product/search?query=" + query, function (data) {
                $("#search-results-container").html(data);
            });
        });
    });
</script>

<ul xmlns:sec="http://www.w3.org/1999/xhtml">
    <li>
        <a class="active" th:href="@{/home}"><i class="fa fa-lg fa-fw fa-home"></i> Главная</a>
    </li>
    <li style="float:right">
        <a th:href="@{/auth/logout}">
            <i class="fa fa-lg fa-fw fa-sign-in"></i> Выйти
        </a>
    </li>
    <li style="float:right">
        <a th:href="@{/cart}">
            <i class="fa fa-lg fa-fw fa-shopping-basket"></i> Корзина
        </a>
    </li>
    <li style="float:right">
        <a th:href="@{'/user/profile/' + ${#authentication.principal.user.id}}">
            <i class="fa fa-lg fa-fw fa-user-circle-o"></i> Ваш профиль,
            <span th:remove="tag" sec:authentication="principal.username">thymeleaf</span>
        </a>
    </li>
    <li style="float:none ">
        <div class="search-container">
            <input type="text" id="search-input" class="animated-search" placeholder="Введите название продукта">
            <button id="search-button">Найти</button>
        </div>
    </li>
</ul>
<div id="search-results-container"></div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Панель навигации</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная <span class="sr-only">(текущая)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Ссылка</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Выпадающий список
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Действие</a>
                    <a class="dropdown-item" href="#">Другое действие</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Что-то еще здесь</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Отключенный</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Поиск">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
        </form>
    </div>
</nav>