<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

 <div sec:authorize="isAuthenticated()">Аутентифицирован как <span sec:authentication="principal.username"></span></div>
<a th:href="@{/open}"><span sec:authentication="principal.username">тупая ссылка</span></a>

<div th:text="${#authentication.principal.user.getYearOfBirth()}">Field value</div>
<!--<div th:text="${#authentication.principal.person.YearOfBirth}">Field value</div>-->

<!-- <h1 th:inline="text">Hello if <span th:if="${#authentication.isAuthenticated()}" th:text="${#authentication.name}">thymeleaf</span>!</h1>-->
<h1 th:inline="text">Hello <span th:if="${#authentication?.isAuthenticated()}" th:text="${#authentication?.name}">Guest</span>!</h1>

<h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>

 <div sec:authorize="isAuthenticated()">
     Authenticated as <span sec:authentication="name"></span></div>

<p sec:authorize="isAuthenticated()" sec:authentication="name"></p>
<p sec:authorize="!isAuthenticated()" sec:authentication="name"></p>

<div sec:authorize="isAuthenticated()">
     Содержимое, которое должно быть видно только для аутентифицированных пользователей
</div>
<div sec:authorize="!isAuthenticated()">
    Содержимое, которое должно быть видно только для неаутентифицированных пользователей
</div>
<div sec:authorize="hasRole('USER')">
     Содержимое, которое должно быть видно только для пользователей с ролью "USER"
</div>

<div sec:authorize="hasRole('ADMIN')">
     Содержимое, которое должно быть видно только для пользователей с ролью "ADMIN"
</div>


<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>
