<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:block th:insert="~{header.html}"></div>

<br>
<h2>All categories</h2>

<div class="container-fluid">
    <div th:if="${categories != null}">
        <div class="row card-deck">
            <div th:each="category : ${categories}" class="card w-25 m-1" type="category">
                <div class="card-body">
                    <a th:href="@{/category/{id}(id=${category.id})}">
                        <div>
                            <span th:text="${category.name}"></span>
                            <img class="card-img-top" th:src="@{/images/__${category.imagePath}__}"
                                 style="width:150px;height:120px" alt="Card image"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div th:if="${categories != null}">
        <div class="row card-deck">
            <div th:each="category : ${categories}" class="card w-25 m-1" type="category">
                <div class="card-body">
                    <a th:href="@{/category/{id}(id=${category.id})}">
                        <div>
                            <span th:text="${category.name}"></span>
                            <img class="card-img-top"
                                 th:src="@{/images/__${category.imagePath}__}"
                                 style="width:150px;height:120px"
                                 alt="Card image"/>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<img class="card-img-top" style="max-height: 20rem"-->
<!--     th:src="@{/images/__${#strings.toLowerCase(product.category)}__/__${product.name}__.jpg}"-->
<!--     th:alt="${product.name}">-->


</body>
</html>