<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Product Details</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
</head>
<body>

<div th:block th:insert="~{header.html}"></div>

<div th:if="${oneProduct != null}" class="container-fluid">
    <h2 class="text-center" th:text="${oneProduct.name}"></h2><br>

    <img class="mx-auto d-block" style="height:auto; max-width: 290px;"
         th:src="@{/images/__${#strings.toLowerCase(#strings.replace(oneProduct.category.name, ' ', '-'))}__/__${#strings.toLowerCase(oneProduct.name)}__.jpg}"
         th:alt="${oneProduct.name}">


    <br>
    <div class="container">
        <h2>Product description:</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center" style="vertical-align: middle">Description</th>
                <th class="text-center" style="vertical-align: middle">Price руб</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${oneProduct.description}"></td>
                <td class="text-center" style="vertical-align: middle" th:text="${oneProduct.price}"></td>
                <td><a th:href="@{/product/{id}/add(id=${oneProduct.id})}" class="btn btn-success btn-sm">Add to
                    cart</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Всплывающее окно добавления товара в корзину -->
<div id="cartNotificationModal" class="modal fade" th:if="${addedToCart}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Уведомление о добавлении товара в корзину</h5>
            </div>
            <div class="modal-body">
                <p>Товар успешно добавлен в корзину!</p>
                <p>Перейти в корзину: <a href="/cart">Корзина</a></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
