<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <div th:block th:insert="~{bootstrap-basic.html}"></div>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:block th:insert="~{header.html}"></div>
<br>
<!--<h3 class="text-center">Личный кабинет пользователя <b class="font-italic" th:text="${session.userDto.username}"></b></h3>-->
<!--<div>-->
<!--    <p class="text-left">имя : <b class="font-italic" th:text="${session.userDto.name}"></b></p>-->
<!--    <p class="text-left">фамилия: <b class="font-italic" th:text="${session.userDto.surname}"></b></p>-->
<!--    <p class="text-left">гендер: <b class="font-italic" th:text="${session.userDto.gender}"></b></p>-->
<!--    <p class="text-left">дата рождения: <b class="font-italic" th:text="${session.userDto.birthday}"></b></p>-->
<!--    <p class="text-left">электронная почта: <b class="font-italic" th:text="${session.userDto.email}"></b></p>-->
<!--    <p class="text-left">дата регистрации: <b class="font-italic" th:text="${session.userDto.registrationDate}"></b></p>-->
<!--    <br>-->
<!--    <button>-->
<!--        <a class="fa fa-sign-out fa-lg" th:href="@{/user/edit}" style="padding: 10px 20px;"><i>Edit</i></a>-->
<!--    </button>-->
<!--</div>-->

<div class="container">
    <h3 class="text-center">Личный кабинет пользователя <b class="font-italic" th:text="${session.userDto.username}"></b></h3>
    <div class="row">
        <div class="col-lg-6">
            <p><strong>Имя:</strong> <span class="font-italic" th:text="${session.userDto.name}"></span></p>
            <p><strong>Фамилия:</strong> <span class="font-italic" th:text="${session.userDto.surname}"></span></p>
            <p><strong>Гендер:</strong> <span class="font-italic" th:text="${session.userDto.gender}"></span></p>
            <p><strong>Дата рождения:</strong> <span class="font-italic" th:text="${session.userDto.birthday}"></span></p>
            <p><strong>Электронная почта:</strong> <span class="font-italic" th:text="${session.userDto.email}"></span></p>
            <p><strong>Дата регистрации:</strong> <span class="font-italic" th:text="${session.userDto.registrationDate}"></span></p>
            <br>
            <a class="btn btn-primary" th:href="@{/user/edit}">
                <i class="fa fa-pencil"></i> Редактировать
            </a>
        </div>
    </div>
</div>

</body>
</html>